.tmg-media-container.tmg-media-settings-view .tmg-media-container-content-wrapper {
  transform: rotateY(180deg);
}
.tmg-media-container.tmg-media-settings-view .tmg-media-container-content .tmg-media {
  filter: var(--tmg-media-filter) blur(10px);
}
.tmg-media-container.tmg-media-settings-view .tmg-media-settings-btn svg {
  transform: rotate(30deg);
}
.tmg-media-container-content-wrapper,
.tmg-media-container-content,
.tmg-media-settings {
  position: relative;
  max-width: inherit;
  max-height: inherit;
  min-width: inherit;
  min-height: inherit;
  border-radius: inherit;
}
.tmg-media-container-content-wrapper {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: transform var(--tmg-media-settings-view-transition-time) var(--tmg-media-bounce-timing);
}
.tmg-media-container-content,
.tmg-media-settings {
  width: 100%;
  height: 100%;
  transform-style: inherit;
  transition: inherit;
  overflow: hidden;
}
.tmg-media-container-content {
  display: flex;
  justify-content: center;
  background: var(--tmg-media-background);
  cursor: none;
}
.tmg-media-settings {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--tmg-media-settings-background-color);
  transform: rotateY(180deg);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  backface-visibility: hidden;
}
.tmg-media-settings-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--tmg-media-settings-content-padding);
  color: var(--tmg-media-settings-text-color);
  border-radius: inherit;
}
.tmg-media-settings-top-panel {
  display: flex;
  padding-block-end: var(--tmg-media-settings-content-padding);
  border-bottom: 1px solid var(--tmg-media-settings-border-color);
}
.tmg-media-settings-bottom-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-block: calc(var(--tmg-media-current-unit));
  overflow-y: auto;
}
.tmg-media-settings-top-panel > * {
  gap: calc(var(--tmg-media-current-unit) / 7.5);
  height: calc(var(--tmg-media-current-unit) / 1.25);
  font-size: calc(var(--tmg-media-current-unit) / 1.5);
}
.tmg-media-settings-top-panel > *:first-child {
  margin-right: auto;
}
.tmg-media-settings-bottom-panel > p {
  color: var(--tmg-media-brand-accent-color);
  font-size: calc(var(--tmg-media-current-unit));
  text-align: center;
  margin-block: auto calc(var(--tmg-media-current-unit) / 3);
}

/* #BETA: clean swap-in with beta for now */
.tmg-media-settings-bottom-panel > div {
  width: calc(var(--tmg-media-current-unit) * 11);
  display: flex;
  gap: calc(var(--tmg-media-current-unit) / 1.75);
}
.tmg-media-settings-bottom-panel > div:last-child {
  margin-block-end: auto;
}
.tmg-media-settings-bottom-panel > div > :first-child {
  flex-grow: 1;
}
.tmg-media-settings-bottom-panel .t007-input-field {
  margin-block-end: calc(var(--tmg-media-current-unit) / 6);
}
