:is(.tmg-media-container, .tmg-media-captions-text) {
  --cmptd-cue-font-factor: (1 + (var(--tmg-media-captions-font-size) - 100) / ((100 * var(--tmg-media-captions-double-factor)) - 100));
  --cmptd-cue-font-size: calc(var(--tmg-media-captions-font-size-base) * var(--f-f));
  --s-b: var(--tmg-media-captions-shadow-base, 1px); /* shadow base */
  --f-f: var(--cmptd-cue-font-factor, 1); /* font factor */
}
.tmg-media-captions-container {
  --cmptd-cue-box-width: var(--tmg-media-current-captions-container-width);
  --cmptd-cue-box-height: var(--tmg-media-current-captions-container-height);
  --cmptd-cue-box-floor: calc(var(--tmg-media-current-captions-offset-top) + (var(--cmptd-cue-box-height) / 2));
  --cmptd-cue-box-ceil: calc(100% - (var(--tmg-media-current-captions-offset-bottom) + (var(--cmptd-cue-box-height) / 2)));
  --cmptd-cue-box-x-min: calc(var(--cmptd-cue-box-width) / 2);
  --cmptd-cue-box-x-max: calc(100% - (var(--cmptd-cue-box-width) / 2));
  display: none;
  position: absolute;
  top: clamp(var(--cmptd-cue-box-floor), var(--tmg-media-current-captions-y), var(--cmptd-cue-box-ceil)); /* offset edgecase handling, old: bottom needed min() first value; clamp:- min-priority */
  left: clamp(var(--cmptd-cue-box-x-min), var(--tmg-media-current-captions-x), var(--cmptd-cue-box-x-max));
  translate: -50% -50%;
  max-height: max(calc(0.4em + 5px + (var(--cmptd-cue-font-size) * 1.4)), calc(var(--cmptd-cue-box-ceil) - var(--cmptd-cue-box-floor) + var(--cmptd-cue-box-height)));
  padding: 0.2em 1em;
  text-align: var(--tmg-media-captions-text-alignment);
  overflow-y: auto;
  background: rgb(from var(--tmg-media-captions-window-color) r g b / var(--tmg-media-captions-window-opacity));
  touch-action: none;
  contain: layout;
  transition: var(--tmg-media-motion-transition);
}
.tmg-media-container:where(.tmg-media-captions, .tmg-media-captions-preview) .tmg-media-captions-container:not(:empty, :has(> :empty)) {
  display: block;
}
.tmg-media-container.tmg-media-captions-lock-to-video:not(.tmg-media-captions-dragging) .tmg-media-captions-container {
  --cmptd-cue-box-floor-offset: max(var(--tmg-media-current-object-top), var(--tmg-media-current-captions-offset-top));
  --cmptd-cue-box-floor: calc(var(--cmptd-cue-box-floor-offset) + (var(--cmptd-cue-box-height) / 2));
  --cmptd-cue-box-ceil-offset: max(calc(100% - (var(--tmg-media-current-object-top) + var(--tmg-media-current-object-height))), var(--tmg-media-current-captions-offset-bottom));
  --cmptd-cue-box-ceil: calc(100% - (var(--cmptd-cue-box-ceil-offset) + (var(--cmptd-cue-box-height) / 2)));
  --cmptd-cue-box-x-min: calc(var(--tmg-media-current-object-left) + (var(--cmptd-cue-box-width) / 2));
  --cmptd-cue-box-x-max: calc(var(--tmg-media-current-object-left) + var(--tmg-media-current-object-width) - (var(--cmptd-cue-box-width) / 2));
}
.tmg-media-container.tmg-media-captions-lock-to-panel:not(.tmg-media-captions-dragging) {
  --tmg-media-current-captions-offset-top: var(--tmg-media-current-safe-inset-top);
  --tmg-media-current-captions-offset-bottom: var(--tmg-media-current-safe-inset-bottom);
}
.tmg-media-container.tmg-media-locked:is(.tmg-media-locked-overlay, :has(:focus-visible)) {
  --tmg-media-current-captions-offset-bottom: calc(var(--tmg-media-current-unit) * 5);
}
.tmg-media-captions-text {
  display: inline-block;
  color: rgb(from var(--tmg-media-captions-font-color) r g b / var(--tmg-media-captions-font-opacity));
  font-size: var(--cmptd-cue-font-size);
  font-family: var(--tmg-media-captions-font-family, var(--tmg-media-font-family));
  font-weight: var(--tmg-media-captions-font-weight);
  font-variant: var(--tmg-media-captions-font-variant);
  text-align: var(--tmg-media-captions-text-alignment);
  white-space: nowrap;
  padding: 2.5px;
  background: rgb(from var(--tmg-media-captions-background-color) r g b / var(--tmg-media-captions-background-opacity));
}
:is(.tmg-media-captions-character-edge-style-drop-shadow .tmg-media-captions-text, .tmg-media-captions-character-edge-style-drop-shadow.tmg-media-captions-text) {
  text-shadow: calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * 1.5 * var(--f-f)) var(--tmg-media-captions-base-shadow), calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * 2 * var(--f-f)) var(--tmg-media-captions-base-shadow), calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * 2.5 * var(--f-f)) var(--tmg-media-captions-base-shadow);
}
:is(.tmg-media-captions-character-edge-style-raised .tmg-media-captions-text, .tmg-media-captions-character-edge-style-raised.tmg-media-captions-text) {
  text-shadow: calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * var(--f-f)) var(--tmg-media-captions-base-shadow);
}
:is(.tmg-media-captions-character-edge-style-depressed .tmg-media-captions-text, .tmg-media-captions-character-edge-style-depressed.tmg-media-captions-text) {
  text-shadow: calc(var(--s-b) * var(--f-f)) calc(var(--s-b) * var(--f-f)) var(--tmg-media-captions-top-shadow), calc(-1 * var(--s-b) * var(--f-f)) calc(-1 * var(--s-b) * var(--f-f)) var(--tmg-media-captions-base-shadow);
}
:is(.tmg-media-captions-character-edge-style-outline .tmg-media-captions-text, .tmg-media-captions-character-edge-style-outline.tmg-media-captions-text) {
  --s-s: 0 0 calc(var(--s-b) * var(--f-f)) var(--tmg-media-captions-base-shadow); /* shadow-step */
  text-shadow: var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s), var(--s-s); /* just had to, 21! :) */
}
.tmg-media-captions-container [data-part="timed"][data-future] {
  opacity: 0.5;
}

.tmg-media-container:has(.tmg-media-captions-container[data-is-main]) .tmg-media::-webkit-media-text-track-display {
  display: none;
}
