.tmg-media-curtain {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.tmg-media-top-curtain,
.tmg-media-bottom-curtain {
  background: linear-gradient(var(--tmg-media-current-curtain-gradient-dir), var(--tmg-media-current-curtain-color), transparent);
}
.tmg-media-top-curtain {
  --tmg-media-current-curtain-gradient-dir: to bottom;
  top: 0;
  min-height: max(calc(var(--tmg-media-current-unit) * 2.25), var(--tmg-media-current-top-wrapper-height));
  aspect-ratio: 10 / 1;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.tmg-media-bottom-curtain {
  --tmg-media-current-curtain-gradient-dir: to top;
  bottom: 0;
  min-height: max(calc(var(--tmg-media-current-unit) * 2.25), var(--tmg-media-current-bottom-wrapper-height));
  aspect-ratio: 6 / 1;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.tmg-media-container[data-curtain="none"] .tmg-media-curtain,
.tmg-media-top-controls-wrapper:not(:has(.tmg-media-meta-text:not(:empty), [data-displayed="true"])) ~ .tmg-media-top-curtain,
.tmg-media-bottom-controls-wrapper:not(:has(.tmg-media-meta-text:not(:empty), [data-displayed="true"])) ~ .tmg-media-bottom-curtain {
  display: none;
}
.tmg-media-cover-curtain {
  top: 0;
  height: 100%;
  border-radius: inherit;
}
.tmg-media-container[data-curtain="cover"] .tmg-media-cover-curtain {
  background-color: var(--tmg-media-current-curtain-color);
  transition: background-color var(--tmg-media-fade-transition-time) ease-in-out;
}
