.tmg-media-title {
  font-size: calc(var(--tmg-media-current-unit) / 1.4);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-title {
  font-size: calc(var(--tmg-media-current-unit) / 1.325);
}
.tmg-media-artist {
  font-size: calc(var(--tmg-media-current-unit) / 2);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-artist {
  font-size: calc(var(--tmg-media-current-unit) / 1.925);
}
.tmg-media-time-and-duration-btn,
.tmg-media-preview-container::after {
  font-size: calc(var(--tmg-media-current-unit) / 1.85);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-time-and-duration-btn {
  font-size: calc(var(--tmg-media-current-unit) / 1.7);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-preview-container::after {
  font-size: calc(var(--tmg-media-current-unit) / 1.65);
}
.tmg-media-vb-slider-wrapper::after {
  font-size: calc(var(--tmg-media-current-unit) / 3);
}
.tmg-media-playback-rate-notifier-content,
.tmg-media-volume-notifier-content,
.tmg-media-brightness-notifier-content,
.tmg-media-object-fit-notifier-content,
.tmg-media-touch-vb-content {
  font-size: calc(var(--tmg-media-current-unit) / 2);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) :is(.tmg-media-playback-rate-notifier-content, .tmg-media-volume-notifier-content, .tmg-media-brightness-notifier-content, .tmg-media-object-fit-notifier-content, .tmg-media-touch-vb-content) {
  font-size: calc(var(--tmg-media-current-unit) / 1.65);
}
.tmg-media-fast-play-notifier,
.tmg-media-scrub-notifier,
.tmg-media-cancel-scrub-notifier {
  font-size: calc(var(--tmg-media-current-unit) / 2.4);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) :is(.tmg-media-fast-play-notifier, .tmg-media-scrub-notifier, .tmg-media-cancel-scrub-notifier) {
  font-size: calc(var(--tmg-media-current-unit) / 1.65);
}
.tmg-media-touch-timeline-notifier {
  font-size: calc(var(--tmg-media-current-unit) / 1.85);
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-touch-timeline-notifier {
  font-size: calc(var(--tmg-media-current-unit) / 1.05);
}
:is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier)::after {
  font-size: calc(var(--tmg-media-current-unit) / 4);
}
.tmg-host-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile, [data-size-tier^="xx"]) :is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier)::after {
  font-size: calc(var(--tmg-media-current-unit) / 2.3);
}
