.tmg-media-poster {
  z-index: 0;
}
.tmg-media-thumbnail {
  z-index: 10;
}
.tmg-media-placeholder {
  z-index: 20;
}
.tmg-media-notifiers-container {
  z-index: 30;
}
.tmg-media-top-curtain,
.tmg-media-bottom-curtain {
  z-index: 40;
}
.tmg-media-captions-container {
  z-index: 50;
}
.tmg-media-cover-curtain {
  z-index: 60;
}
.tmg-media-big-controls-wrapper-cover,
.tmg-media-buffer {
  z-index: 70;
}
.tmg-media-top-controls-wrapper,
.tmg-media-bottom-controls-wrapper {
  z-index: 90;
}
.tmg-media-container.tmg-media-mobile .tmg-media-notifiers-container {
  z-index: 80;
}
.tmg-media-menus-wrapper {
  z-index: 100;
}