.tmg-host-container *,
.tmg-host-container *::after,
.tmg-host-container *::before {
  box-sizing: border-box;
  font-family: inherit;
  font-kerning: normal;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.tmg-host-container *:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}
:where(.tmg-host-container) *,
:where(.tmg-host-container) *::after,
:where(.tmg-host-container) *::before {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--tmg-media-brand-color) transparent;
}
:where(.tmg-host-container) *::selection {
  color: currentColor;
  background-color: var(--tmg-media-brand-color);
}
:where(.tmg-media-container:not(.tmg-media-disabled)) :is(.tmg-media-title, .tmg-media-artist) {
  -webkit-user-select: text;
  user-select: text;
}
.tmg-host-container :is([draggable="true"], #o#o#o#o#o) {
  -webkit-user-drag: element;
}
.tmg-host-container :is(*:focus-visible, #o#o#o#o#o) {
  outline: var(--tmg-media-focus-visible-outline);
  outline-offset: calc(var(--tmg-media-current-unit) / 13);
  transition: none;
}
.tmg-media-controls-container :is(*:focus-visible, #o#o#o#o#o) {
  outline-offset: calc(var(--tmg-media-current-unit) / 7.5);
  transition: outline-offset var(--tmg-media-fade-transition-time) ease !important;
}
.tmg-host-container :is(:is(.tmg-media-profile-link, .tmg-media-title, .tmg-media-artist, .tmg-media-big-controls-wrapper > *, .tmg-media-next-preview-wrapper > button):focus-visible, #o#o#o#o#o) {
  outline-offset: 0px;
}
.tmg-host-container :is(.tmg-media-range-container:focus-visible, #o#o#o#o#o) {
  outline-offset: 1px;
}
.tmg-media-side-controls-wrapper-cover,
.tmg-media-big-controls-wrapper-cover,
.tmg-media-meta-wrapper > * {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.tmg-media-side-controls-wrapper,
.tmg-media-big-controls-wrapper,
.tmg-media-title,
.tmg-media-artist {
  overflow: auto hidden;
  scrollbar-width: none;
}
:is(.tmg-media-side-controls-wrapper, .tmg-media-big-controls-wrapper, .tmg-media-title, .tmg-media-artist)::-webkit-scrollbar {
  display: none;
}
.tmg-media-screen-locked-wrapper,
.tmg-media-top-controls-wrapper,
.tmg-media-bottom-controls-wrapper,
.tmg-media-touch-vb-notifier,
.tmg-media-picture-in-picture-placeholder p,
.tmg-media-settings-content * {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
:is(.tmg-media-top-controls-wrapper, .tmg-media-bottom-controls-wrapper, .tmg-media-touch-vb-notifier) svg,
.tmg-media-pip-icon-content,
.tmg-media-touch-vb-slider {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
.tmg-host-container svg {
  width: var(--tmg-media-current-unit);
  height: var(--tmg-media-current-unit);
}
:is(.tmg-media-big-controls-wrapper > *, :where(button[class^="tmg-media-big-"])) > svg {
  --size: calc(var(--tmg-media-current-unit) * var(--tmg-media-current-big-controls-scale));
  width: var(--size);
  height: var(--size);
}
.tmg-media-big-play-pause-btn > svg {
  --size: calc(var(--tmg-media-current-unit) * var(--tmg-media-current-big-controls-scale) * var(--tmg-media-large-scale));
  width: var(--size);
  height: var(--size);
}
.tmg-host-container svg:where(:not(.no-css-fill)) {
  color: var(--tmg-media-icons-color);
}
.tmg-host-container svg * {
  transition: all var(--tmg-media-fade-transition-time) ease;
}
.tmg-host-container svg:where(:not(.no-css-fill)) *:where(:not(.no-css-fill, [fill="none"])) {
  fill: currentColor;
}
button > :is(.tmg-media-play-icon, .tmg-media-pause-icon) {
  scale: 1.25;
}
.tmg-host-container:has(img) img {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 0px transparent;
  background: var(--tmg-media-img-background);
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
}
:where(.tmg-host-container) button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--tmg-media-current-unit) / 1.4);
  opacity: 0.9;
  transition: opacity var(--tmg-media-fade-transition-time) ease-in-out;
}
:where(.tmg-host-container button):is(:hover, :focus-visible) {
  opacity: 1;
  cursor: pointer;
}
.tmg-media-big-controls-wrapper-cover,
.tmg-media-buffer,
.tmg-media-thumbnail,
.tmg-media-captions-btn::after,
.tmg-media-seek-thumb::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.tmg-media-picture-in-picture-placeholder,
.tmg-media-next-preview-wrapper > button {
  position: absolute;
  inset: 0;
  margin: auto;
}
.tmg-media-container:is(.tmg-media-overlay, :has(:focus-visible)) .tmg-media-container-content,
.tmg-media-container:is(:has(.tmg-media-notifier.tmg-media-control-persist, :is(.tmg-media-fast-play-notifier, .tmg-media-touch-vb-notifier).tmg-media-control-active)) .tmg-media-container-content {
  cursor: auto;
}
.tmg-media-container.tmg-media-miniplayer :is(.tmg-media-container-content, .tmg-media-settings),
.tmg-media-seek-thumb,
.tmg-media-vb-slider,
.tmg-media-captions-container {
  cursor: grab;
}
.tmg-media-container.tmg-media-miniplayer:active :is(.tmg-media-container-content, .tmg-media-settings),
:is(.tmg-media-timeline-container, .tmg-media-vb-slider, .tmg-media-captions-container):active {
  cursor: grabbing;
}
/* overrides for the native select */
@supports (appearance: base-select) {
  .tmg-host-container {
    select,
    select::picker(select) {
      appearance: base-select;
    }
  }
}
.tmg-host-container :is(#o, select) {
  white-space: nowrap;
  @supports (appearance: base-select) {
    position: relative;
    align-items: center;
    &::picker-icon {
      content: "";
      position: relative;
      width: 1rem;
      height: 1rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      transition: all 200ms ease-out;
      transition-timing-function: var(--bounce-timing);
    }
    &:open::picker-icon {
      rotate: 180deg;
    }
    &:active::picker-icon {
      translate: 0 0.1rem;
    }
    &::picker(select) {
      background: transparent;
      margin: 0.75rem 2px 0.75rem 1px;
      border: none;
      transition-property: display, overlay;
      transition-duration: 500ms;
      transition-behavior: allow-discrete;
    }
    option {
      position: relative;
      backdrop-filter: blur(5px);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      margin-bottom: 0.25rem;
      padding: 0.33rem 0.25rem;
      background-color: rgb(from var(--tmg-media-theme-color) r g b/ 0.777);
      color: var(--tmg-media-theme-inverse-accent-color);
      border: 1px solid var(--tmg-media-settings-border-color);
      transition-property: opacity, scale;
      transition-duration: 200ms;
      transition-delay: calc((sibling-count() - sibling-index()) * 20ms);
      scale: 0.25;
      opacity: 0;
      &:is(:checked, :focus) {
        color: var(--tmg-media-theme-inverse-color);
      }
      &:checked {
        background-color: rgb(from var(--tmg-media-brand-color) r g b/ 0.666);
        border: 1px solid rgb(from var(--tmg-media-theme-inverse-color) r g b/ 0.15);
      }
      &:focus {
        border: 1px solid var(--tmg-media-theme-inverse-color);
      }
      &:hover {
        background-color: rgb(from var(--tmg-media-theme-color) r g b/ 0.999);
      }
      &:checked:hover {
        background-color: rgb(from var(--tmg-media-brand-color) r g b/ 0.888);
      }
      &:focus-visible {
        outline: none !important;
      }
      &::checkmark {
        display: none;
      }
    }
    &:open {
      option {
        scale: 1;
        opacity: 1;
        transition-delay: calc(sibling-index() * 20ms);
        @starting-style {
          scale: 0.25;
          opacity: 0;
        }
      }
    }
  }
}
/* overrides for the native color input */
.tmg-host-container input[type="color"] {
  width: var(--t007-input-height);
  height: var(--t007-input-height);
  padding: 0;
  /* Chrome/Edge/Safari: The 'Well' that holds the color */
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  /* The actual color circle/square */
  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
  &::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}
