.tmg-media-timeline-container {
  width: calc(100% - var(--tmg-media-current-safe-inset-x));
  z-index: 3;
}
.tmg-media-container:not(.tmg-media-overlay, :has(:focus-visible, .tmg-media-fast-play-notifier.tmg-media-control-active)).tmg-media-progress-bar :is(.tmg-media-timeline-container, .tmg-media-seek-bars-wrapper),
.tmg-media-container[data-size-tier^="xxxxx"] .tmg-media-bottom-controls-wrapper:not(:hover) :is(.tmg-media-timeline-container, .tmg-media-seek-bars-wrapper) {
  position: absolute;
  bottom: 0.1px;
  width: 100%;
  margin-inline: 0;
  border-radius: 0;
}
.tmg-media-container:not(.tmg-media-overlay, :has(:focus-visible, .tmg-media-fast-play-notifier.tmg-media-control-active)).tmg-media-progress-bar .tmg-media-timeline-container {
  opacity: var(--tmg-media-progress-bar-opacity);
  pointer-events: none;
}
.tmg-media-timeline {
  width: 100%;
}
.tmg-media-container.tmg-media-mobile .tmg-media-seek-bars-wrapper {
  transform: scaleY(1.2);
}
.tmg-media-container:not(.tmg-media-mobile):is(.tmg-media-scrubbing, .tmg-media-previewing) .tmg-media-seek-bars-wrapper {
  transform: scaleY(1.5);
}
.tmg-media-container:not(.tmg-media-scrubbing, .tmg-media-previewing) .tmg-media-seek-bar {
  transition: opacity var(--tmg-media-fade-transition-time) ease-in-out;
}
.tmg-media-seek-base-bar {
  background: var(--tmg-media-seek-base-bar-background);
}
.tmg-media-seek-buffered-bar {
  background: var(--tmg-media-seek-buffered-bar-background);
}
.tmg-media-container:not(.tmg-media-overlay, :has(:focus-visible, .tmg-media-fast-play-notifier.tmg-media-control-active)).tmg-media-progress-bar .tmg-media-seek-buffered-bar {
  display: none;
}
.tmg-media-seek-preview-bar {
  background: var(--tmg-media-seek-preview-bar-background);
  opacity: 0;
}
.tmg-media-container.tmg-media-mobile .tmg-media-seek-preview-bar {
  display: none;
}
.tmg-media-container:is(.tmg-media-scrubbing, .tmg-media-previewing) .tmg-media-seek-preview-bar {
  opacity: 1;
}
.tmg-media-seek-played-bar {
  background: var(--tmg-media-seek-played-bar-background);
}
.tmg-media-container:not(.tmg-media-overlay, :has(:focus-visible, .tmg-media-fast-play-notifier.tmg-media-control-active)).tmg-media-progress-bar .tmg-media-seek-played-bar {
  background: var(--tmg-media-progress-bar-background);
}
.tmg-media-seek-thumb {
  width: var(--tmg-media-range-thumb-size);
  height: var(--tmg-media-range-thumb-size);
  background: var(--tmg-media-seek-thumb-background);
  transform: scale(var(--tmg-media-current-seek-thumb-scale));
}
.tmg-media-container.tmg-media-scrubbing .tmg-media-seek-thumb {
  box-shadow: 0 0 0 1px var(--t007-ripple-color), 0 0 0 calc(var(--tmg-media-current-unit) / 6.5) var(--t007-ripple-color);
}
.tmg-media-preview-container {
  position: absolute;
  top: calc(var(--tmg-media-current-unit) * -2.25);
  display: flex;
  translate: -50% -100%;
  border: calc(var(--tmg-media-current-unit) / 12.5) solid var(--tmg-media-seek-previews-border-color);
  border-radius: calc(var(--tmg-media-current-unit) / 2.5);
  background: var(--tmg-media-background);
  pointer-events: none;
  transition: opacity var(--tmg-media-fade-transition-time) var(--tmg-media-bounce-timing), transform var(--tmg-media-fade-transition-time) var(--tmg-media-bounce-timing);
}
.tmg-media-container:not(.tmg-media-scrubbing, .tmg-media-previewing) .tmg-media-preview-container {
  opacity: 0;
  transform: translateY(calc(var(--tmg-media-current-unit) / 2)) scale(0.85);
}
.tmg-host-container:is([data-size-tier^="xxxx"], .tmg-media-no-previews) .tmg-media-preview-container {
  top: calc(var(--tmg-media-current-unit) * -1);
}
.tmg-host-container.tmg-media-mobile .tmg-media-preview-container {
  top: calc(var(--tmg-media-current-unit) * -1.5);
  transition: none;
}
.tmg-host-container:is([data-size-tier^="xxxx"], .tmg-media-mobile, .tmg-media-no-previews) .tmg-media-preview-container,
.tmg-media-preview-container::after {
  min-width: calc(var(--tmg-media-current-unit) * 2);
  justify-content: center;
  padding: calc(var(--tmg-media-current-unit) / 7) calc(var(--tmg-media-current-unit) / 5);
  border: none;
  border-radius: var(--tmg-media-current-unit);
  background: var(--tmg-media-seek-no-previews-background);
}
.tmg-media-preview-container::after {
  content: attr(data-preview-time);
  position: absolute;
  top: calc(100% + (var(--tmg-media-current-unit) / 2.5));
  left: 50%;
  display: flex;
  translate: -50% 0;
  color: var(--tmg-media-text-color);
  font-weight: 500;
  white-space: nowrap;
}
.tmg-host-container:is([data-size-tier^="xxxx"], .tmg-media-mobile, .tmg-media-no-previews) .tmg-media-preview-container::after {
  position: relative;
  padding: 0;
  white-space: nowrap;
  text-shadow: none;
  background: none;
  box-shadow: none;
}
div:is(.tmg-media-thumbnail, .tmg-media-preview) {
  background-size: cover;
  background-repeat: no-repeat;
}
.tmg-media-preview {
  height: calc(var(--tmg-media-current-unit) * 5);
  aspect-ratio: var(--tmg-media-aspect-ratio);
  border-radius: calc((var(--tmg-media-current-unit) / 2.5) - (var(--tmg-media-current-unit) / 12.5));
}
div.tmg-media-preview {
  background-image: var(--tmg-media-current-preview-url);
  background-color: var(--tmg-media-disabled-background);
  background-position: var(--tmg-media-current-preview-background-position);
}
.tmg-host-container[data-size-tier^="x"] .tmg-media-preview {
  height: calc(var(--tmg-media-current-unit) * 4.5);
}
.tmg-host-container[data-size-tier^="xxx"] .tmg-media-preview {
  height: calc(var(--tmg-media-current-unit) * 4);
}
.tmg-host-container:is([data-size-tier^="xxxx"], .tmg-media-mobile, .tmg-media-no-previews) .tmg-media-preview {
  display: none;
}
.tmg-media-thumbnail {
  pointer-events: none;
  width: var(--tmg-media-current-thumbnail-width);
  height: var(--tmg-media-current-thumbnail-height);
}
div.tmg-media-thumbnail {
  background-image: var(--tmg-media-current-thumbnail-url);
  background-color: var(--tmg-media-disabled-background);
  background-position: var(--tmg-media-current-thumbnail-background-position);
}
.tmg-media-container.tmg-media-inactive div:is(.tmg-media-thumbnail, .tmg-media-preview) {
  background-image: var(--tmg-media-alt-img-url);
}
.tmg-media-container:not(.tmg-media-scrubbing) .tmg-media-thumbnail,
.tmg-media-container:is([data-preview-type="image"], [data-preview-type="sprite"]) canvas:is(.tmg-media-thumbnail, .tmg-media-preview),
.tmg-media-container[data-preview-type="canvas"] div:is(.tmg-media-thumbnail, .tmg-media-preview) {
  display: none;
}
