.tmg-media-vb-container .tmg-media-range-bar {
  background: none;
} /* container uses background gradients */
.tmg-media-vb-container {
  display: flex;
  align-items: center;
}
.tmg-media-right-side-controls-wrapper .tmg-media-vb-container {
  flex-direction: row-reverse;
}
.tmg-media-vb-slider-wrapper {
  position: relative;
  width: 0;
  height: calc(var(--tmg-media-current-unit));
  display: flex;
  align-items: center;
  clip-path: inset(0);
  transition: width var(--tmg-media-fade-transition-time) ease-out, clip-path var(--tmg-media-fade-transition-time) ease-out;
}
.tmg-media-left-side-controls-wrapper .tmg-media-vb-slider-wrapper {
  left: calc(var(--tmg-media-current-unit) / 3);
}
.tmg-media-right-side-controls-wrapper .tmg-media-vb-slider-wrapper {
  right: calc(var(--tmg-media-current-unit) / 3);
}
.tmg-media-container.tmg-media-mobile .tmg-media-vb-slider-wrapper {
  display: none;
}
.tmg-media-vb-slider-wrapper:has(.tmg-media-control-active, :focus-visible) {
  clip-path: inset(calc(var(--tmg-media-current-unit) * -1));
}
.tmg-media-vb-slider-wrapper:has(.tmg-media-control-active, :focus-visible),
.tmg-media-vb-slider {
  width: calc(var(--tmg-media-current-unit) * 2);
}
.tmg-media-vb-slider,
.tmg-media-touch-vb-slider {
  background: linear-gradient(var(--tmg-media-current-slider-gradient-dir), var(--tmg-media-range-track-color) calc(var(--tmg-media-current-slider-position) * 100%), var(--tmg-media-range-track-base-color) 0%);
}
.tmg-media-vb-slider {
  --tmg-media-current-slider-gradient-dir: to right;
}
.tmg-media-container.tmg-media-volume-boost :is(.tmg-media-volume-slider, .tmg-media-touch-volume-slider),
.tmg-media-container.tmg-media-brightness-boost :is(.tmg-media-brightness-slider, .tmg-media-touch-brightness-slider) {
  background: linear-gradient(var(--tmg-media-current-slider-gradient-dir), var(--tmg-media-range-track-color) calc(var(--tmg-media-current-slider-position) * (var(--tmg-media-range-track-percent) * 1%)), var(--tmg-media-range-track-boost-color) calc(var(--tmg-media-range-track-boost-percent) * 1%), var(--tmg-media-range-track-boost-color) calc((var(--tmg-media-range-track-boost-percent) * 1%) + (var(--tmg-media-current-slider-boost-position) * (100% - (var(--tmg-media-range-track-boost-percent) * 1%)))), transparent 0%), linear-gradient(var(--tmg-media-current-slider-gradient-dir), var(--tmg-media-range-track-base-color) calc(var(--tmg-media-range-track-percent) * 1%), var(--tmg-media-range-track-base-boost-color) 0%);
}
.tmg-media-volume-slider,
.tmg-media-touch-volume-slider {
  --tmg-media-range-track-percent: var(--tmg-media-volume-slider-percent);
  --tmg-media-current-slider-position: var(--tmg-media-current-volume-slider-position);
  --tmg-media-range-track-boost-percent: var(--tmg-media-volume-slider-boost-percent);
  --tmg-media-current-slider-boost-position: var(--tmg-media-current-volume-slider-boost-position);
}
.tmg-media-brightness-slider,
.tmg-media-touch-brightness-slider {
  --tmg-media-range-track-percent: var(--tmg-media-brightness-slider-percent);
  --tmg-media-current-slider-position: var(--tmg-media-current-brightness-slider-position);
  --tmg-media-range-track-boost-percent: var(--tmg-media-brightness-slider-boost-percent);
  --tmg-media-current-slider-boost-position: var(--tmg-media-current-brightness-slider-boost-position);
}
