.tmg-host-container :is([disabled], .tmg-media-control-disabled, #o#o#o#o#o) {
  --tmg-media-current-control-color: var(--tmg-media-disabled-color);
  cursor: not-allowed;
}
.tmg-host-container :is([disabled], #o#o#o#o#o) {
  color: var(--tmg-media-disabled-color);
  filter: grayscale(100%);
  cursor: not-allowed;
}
.tmg-host-container :is(.tmg-media-control-hidden, #o#o#o#o#o) {
  display: none;
  pointer-events: none;
}
.tmg-host-container :is(.tmg-media-control-disabled, #o#o#o#o#o) {
  opacity: 0.75;
  cursor: default;
}
.tmg-host-container:is(.tmg-media-inactive, .tmg-media-disabled, #o#o#o#o#o) {
  --tmg-media-control-color: var(--tmg-media-disabled-color); /* --tmg-media-text-color: var(--tmg-media-disabled-color); */
}
.tmg-host-container:is(.tmg-media-disabled, .tmg-media-locked, #o#o#o#o#o) {
  overflow: hidden;
}
.tmg-host-container:is(.tmg-media-disabled, #o#o#o#o#o) {
  cursor: not-allowed;
}
.tmg-host-container.tmg-media-disabled *,
.tmg-host-container:is(.tmg-media-locked, #o#o#o#o#o) > *:not(.tmg-media-screen-locked-wrapper, [class$="toast-container"]) {
  pointer-events: none !important;
}
.tmg-host-container.tmg-media-disabled * {
  animation: none !important;
}
.tmg-host-container:is(.tmg-media-locked, #o#o#o#o#o) *:is(.tmg-media-settings, .tmg-media-top-controls-wrapper, .tmg-media-controls-container > *:not(.tmg-media-captions-container), .tmg-media-bottom-controls-wrapper > * > *:not(.tmg-media-timeline-container)) {
  display: none;
}
.tmg-host-container:is(.tmg-media-disabled, #o#o#o#o#o) :is(.tmg-media, .tmg-media-filtered) {
  filter: var(--tmg-media-filter) grayscale(100%);
}
