.tmg-host-container:where(.tmg-media-mobile:not(.tmg-media-floating-player, .tmg-media-miniplayer)) {
  --tmg-media-current-controls-column-gap: calc(var(--tmg-media-current-unit) / 1.25);
}
@media (max-width: 950px) and (max-height: 480px) and (min-width: 600px) and (orientation: landscape) {
  .tmg-host-container:where(.tmg-media-mobile:not(.tmg-media-floating-player, .tmg-media-miniplayer)) {
    --tmg-media-current-controls-column-gap: calc(var(--tmg-media-current-unit) / 1.075);
  }
}
.tmg-host-container:where(.tmg-media-mobile.tmg-media-fullscreen) {
  --tmg-media-current-controls-row-gap: var(--tmg-media-current-unit);
}

@media (max-width: 480px) and (min-height: 510px) and (orientation: portrait) {
  .tmg-media-container.tmg-media-mobile.tmg-media-fullscreen .tmg-media-top-controls-wrapper {
    flex-direction: column-reverse;
  }
  .tmg-media-container.tmg-media-mobile.tmg-media-fullscreen .tmg-media-top-controls-wrapper > * {
    max-width: calc(100% - (var(--tmg-media-current-safe-inset-x) * 2));
  }
  .tmg-media-container.tmg-media-mobile.tmg-media-fullscreen .tmg-media-meta-wrapper {
    align-self: start;
  }
  .tmg-media-container.tmg-media-mobile.tmg-media-fullscreen .tmg-media-top-controls-wrapper .tmg-media-side-controls-wrapper-cover {
    align-self: end;
  }
}
