.tmg-media-bottom-controls-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
:is(#o#o#o#o#o, .tmg-media-bottom-controls-wrapper, .tmg-media-bottom-controls-wrapper > :last-child, .tmg-media-bottom-controls-wrapper > :last-child > :first-child) {
  border-bottom-left-radius: inherit;
}
:is(#o#o#o#o#o, .tmg-media-bottom-controls-wrapper, .tmg-media-bottom-controls-wrapper > :last-child, .tmg-media-bottom-controls-wrapper > :last-child > :last-child) {
  border-bottom-right-radius: inherit;
}
.tmg-media-apt-controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tmg-media-apt-controls-wrapper:where(:has(.tmg-media-center-side-controls-wrapper [data-displayed="true"])),
.tmg-media-apt-controls-wrapper:where(:has(> :first-child [data-displayed="true"]):has(> :last-child [data-displayed="true"])):has(> .tmg-media-meta-wrapper) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
[class*="tmg-media-side-controls-wrapper"] {
  min-width: var(--tmg-media-current-controls-column-gap); /* both cover and wrapper */
}
[class*="tmg-media-side-controls-wrapper"]:has([data-displayed="true"]) {
  min-width: var(--cmptd-ctrl-box-min-width);
}
.tmg-media-container:not(:has(.tmg-media-control-dragging)) [class*="tmg-media-center-side-controls-wrapper"]:not(:has([data-displayed="true"])) {
  min-width: 0;
}
.tmg-media-top-controls-wrapper:has(> .tmg-media-meta-wrapper) .tmg-media-side-controls-wrapper-cover {
  align-self: start; /* cause: title section */
}
.tmg-media-left-side-controls-wrapper-cover:not(:has([data-displayed="true"])):has(+ .tmg-media-meta-wrapper),
.tmg-media-center-side-controls-wrapper-cover:not(:has([data-displayed="true"])) {
  flex-grow: 0;
}
.tmg-media-side-controls-wrapper {
  display: flex;
  align-items: center;
  gap: var(--tmg-media-current-controls-column-gap);
}
.tmg-media-left-side-controls-wrapper:has([data-displayed="true"]) {
  margin-inline-start: var(--cmptd-ctrl-box-out-nudge);
}
.tmg-media-right-side-controls-wrapper:has([data-displayed="true"]) {
  margin-inline-end: var(--cmptd-ctrl-box-out-nudge);
}
.tmg-media-meta-wrapper,
.tmg-media-side-controls-wrapper {
  padding-block: var(--cmptd-ctrl-box-y-in-pad);
}
.tmg-media-container:not(:has(.tmg-media-control-dragging)) .tmg-media-bottom-2-sub-controls-wrapper .tmg-media-side-controls-wrapper:not(:has(:focus-visible)) {
  padding-block: 0;
}
.tmg-media-apt-controls-wrapper > :is(.tmg-media-meta-wrapper, .tmg-media-timeline-container):is(:first-child),
.tmg-media-left-side-controls-wrapper:has([data-displayed="true"]) {
  padding-inline: var(--tmg-media-current-controls-column-gap) var(--cmptd-ctrl-box-x-in-pad);
}
.tmg-media-apt-controls-wrapper:has(> :first-child [data-displayed="true"]):has(> :last-child [data-displayed="true"]) > .tmg-media-meta-wrapper,
.tmg-media-center-side-controls-wrapper:has([data-displayed="true"]) {
  justify-content: center;
  padding-inline: var(--cmptd-ctrl-box-x-in-pad);
}
.tmg-media-apt-controls-wrapper > :is(.tmg-media-meta-wrapper, .tmg-media-timeline-container):is(:last-child),
.tmg-media-right-side-controls-wrapper:has([data-displayed="true"]) {
  padding-inline: var(--cmptd-ctrl-box-x-in-pad) var(--tmg-media-current-controls-column-gap);
}
.tmg-media-right-side-controls-wrapper > [data-spacer="true"] {
  margin-inline-start: auto;
}
