.tmg-host-container {
  position: relative;
  width: fit-content;
  margin: auto;
  color: var(--tmg-media-text-color);
  font-family: var(--tmg-media-font-family);
  border-radius: var(--tmg-media-border-radius);
  isolation: isolate;
  contain: layout style;
}
.tmg-host-container:where(.tmg-media-mobile) {
  width: 100%;
}
.tmg-media-container {
  perspective: calc(var(--tmg-media-current-unit) * 38.5); /* auto focal-point shift necessary */
}
.tmg-pseudo-media-container {
  background: var(--tmg-media-background);
}
body:has(.tmg-media-container.tmg-media-miniplayer) .tmg-pseudo-media-container::before {
  content: "Playing in mini player";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tmg-media-text-color);
  font-size: calc(var(--tmg-media-current-unit) / 1.5);
  font-weight: 500;
}
.tmg-host-container:is(.tmg-media-fullscreen, .tmg-media-theater):where(:not(.tmg-media-miniplayer)) {
  width: 100%;
  border-radius: 0;
}
.tmg-host-container.tmg-media-theater:where(:not(.tmg-media-mobile)) {
  --tmg-media-current-unit: var(--tmg-media-theater-unit);
  --tmg-media-current-controls-column-gap: calc(var(--tmg-media-current-unit) / 1.4);
}
.tmg-host-container.tmg-media-fullscreen:where(:not(.tmg-media-mobile)) {
  --tmg-media-current-unit: var(--tmg-media-fullscreen-unit);
  --tmg-media-current-controls-column-gap: calc(var(--tmg-media-current-unit) / 1.2);
}
.tmg-media-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile) {
  --tmg-media-current-buffer-thickness: calc(var(--tmg-media-current-unit) / 11);
}
.tmg-host-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile, [data-size-tier^="xx"]) {
  --tmg-media-current-big-controls-scale: 1;
  --tmg-media-dbc-backdrop-width: 80%;
}
.tmg-media-container.tmg-media-miniplayer {
  position: fixed;
  bottom: clamp(calc(var(--tmg-media-current-container-height) / 2), var(--tmg-media-current-miniplayer-y), calc(100% - (var(--tmg-media-current-container-height) / 2)));
  left: clamp(calc(var(--tmg-media-current-container-width) / 2), var(--tmg-media-current-miniplayer-x), calc(100% - (var(--tmg-media-current-container-width) / 2)));
  translate: -50% 50%;
  width: fit-content;
  height: fit-content;
  z-index: 2147483647;
  touch-action: none;
  transition: var(--tmg-media-motion-transition);
  animation: tmg-miniplayer-enter var(--tmg-media-slow-transition-time) var(--tmg-media-bounce-timing);
}
.tmg-media-container.tmg-media-miniplayer:active,
.tmg-media-captions-container:active {
  transition: none;
}
body:where(:has(.tmg-media-floating-player)) {
  font-family: system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}
.tmg-media-container.tmg-media-floating-player {
  --tmg-media-border-radius: 0;
  width: 100%;
  height: 100dvh;
}
.tmg-media-container.tmg-media-floating-player {
  --tmg-media-current-unit: var(--tmg-media-relative-unit);
}
:where(.tmg-host-container:not(.tmg-media-miniplayer).tmg-media-mobile) {
  --tmg-media-border-radius: 0;
}
.tmg-media-container.tmg-media-mobile {
  --tmg-media-current-seek-thumb-scale: 1.15;
  --tmg-media-current-touch-slider-height: calc(var(--tmg-media-current-unit) * 8.5);
}
.tmg-host-container:is([data-size-tier^="xxxx"], .tmg-media-mobile, .tmg-media-no-previews) {
  --tmg-media-seek-previews-border-color: var(--tmg-media-seek-no-previews-pointer-color);
}
.tmg-host-container[data-size-tier^="x"] {
  --tmg-media-current-unit: calc(var(--tmg-media-relative-unit) / 1.1);
}
.tmg-host-container[data-size-tier^="xx"] {
  --tmg-media-current-unit: var(--tmg-media-mobile-unit);
}
.tmg-host-container[data-size-tier^="xxx"] {
  --tmg-media-current-unit: var(--tmg-media-miniplayer-unit);
}
.tmg-host-container[data-size-tier^="xxxx"] {
  --tmg-media-current-unit: var(--tmg-media-mobile-miniplayer-unit);
}
.tmg-media-container:is(.tmg-media-overlay, :has(:focus-visible)):has(.tmg-media-top-controls-wrapper [data-displayed="true"]) {
  --tmg-media-current-safe-inset-top: var(--tmg-media-current-top-wrapper-height);
}
.tmg-media-container:is(.tmg-media-overlay, :has(:focus-visible)):has(.tmg-media-bottom-controls-wrapper [data-displayed="true"]) {
  --tmg-media-current-safe-inset-bottom: var(--tmg-media-current-bottom-wrapper-height);
}
.tmg-media-container:not(.tmg-media-settings-view):is(.tmg-media-overlay, :has(:focus-visible)):has(.tmg-media-top-controls-wrapper [data-displayed="true"]) {
  --tmg-media-current-global-safe-inset-top: var(--tmg-media-current-top-wrapper-height);
}
.tmg-media-container:not(.tmg-media-settings-view):is(.tmg-media-overlay, :has(:focus-visible)):has(.tmg-media-bottom-controls-wrapper [data-displayed="true"]) {
  --tmg-media-current-global-safe-inset-bottom: var(--tmg-media-current-bottom-wrapper-height);
}
.tmg-media-container:is(.tmg-media-overlay, :has(:focus-visible)),
.tmg-media-top-curtain,
.tmg-media-bottom-curtain {
  --tmg-media-current-curtain-color: var(--tmg-media-curtain-color);
}
.tmg-media-container[data-curtain="cover"]:is(.tmg-media-previewing, .tmg-media-scrubbing),
.tmg-media-container[data-curtain="cover"] :is(.tmg-media-top-curtain, .tmg-media-bottom-curtain),
.tmg-media-container:has(:is(.tmg-media-fast-play-notifier, .tmg-media-touch-vb-notifier).tmg-media-control-active) {
  --tmg-media-current-curtain-color: transparent;
}
.tmg-media-container.tmg-media-scrubbing {
  --tmg-media-current-seek-thumb-scale: 1.2;
}
.tmg-media-container.tmg-media-mobile.tmg-media-scrubbing {
  --tmg-media-current-seek-thumb-scale: 1.35;
}
.tmg-host-container:has(.tmg-media-cancel-scrub-notifier.tmg-media-control-active) {
  --tmg-media-current-seek-thumb-scale: 0.9;
}
.tmg-media-container:is([data-seek-thumb="false"], [data-seek-thumb="auto"]:has(.tmg-media-timeline-container:not(:hover)), :not(.tmg-media-overlay, :has(:focus-visible, .tmg-media-fast-play-notifier.tmg-media-control-active)).tmg-media-progress-bar) {
  --tmg-media-current-seek-thumb-scale: 0;
}
.tmg-media-container:has(.tmg-media-notifier.tmg-media-control-persist) {
  --tmg-media-notifiers-animation-time: var(--tmg-media-slow-transition-time);
}
.tmg-media-controls-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border-radius: inherit;
}
