:where(.tmg-host) {
  display: block;
  aspect-ratio: var(--tmg-media-aspect-ratio);
  /* border-radius: inherit; */
  width: 90dvw;
  max-width: 700px;
  max-height: 80lvh;
  margin: auto;
}
:where(.tmg-host-container.tmg-media-mobile .tmg-host) {
  width: 100%;
  max-width: unset;
}
.tmg-host {
  object-fit: var(--tmg-media-object-fit);
  object-position: var(--tmg-media-object-position);
  will-change: filter;
}
.tmg-pseudo-media {
  visibility: hidden;
}
:is(.tmg-media, .tmg-media-filtered) {
  filter: var(--tmg-media-filter);
}
:is(*:not(body):has(.tmg-host-container:is(.tmg-media-fullscreen, .tmg-media-theater)), #o#o#o#o#o) {
  flex: 0 0 100%;
  grid-column: 1 / -1;
  width: 100%;
  max-width: unset;
  max-height: unset;
}
.tmg-host-container.tmg-media-theater .tmg-host {
  width: 100%;
  max-width: unset;
  max-height: 80lvh;
}
.tmg-host-container.tmg-media-fullscreen .tmg-host {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}
.tmg-host-container.tmg-media-miniplayer .tmg-host {
  width: var(--tmg-media-current-miniplayer-width, auto);
  height: var(--tmg-media-current-miniplayer-height, auto);
  min-width: min(var(--tmg-media-current-miniplayer-width, 170px), 170px);
  min-height: min(var(--tmg-media-current-miniplayer-height, 150px), 150px);
  max-width: min(var(--tmg-media-current-miniplayer-width, min(400px, 50dvw)), 87.5dvw);
  max-height: min(var(--tmg-media-current-miniplayer-height, min(400px, 35dvh)), 87.5dvh);
  aspect-ratio: var(--tmg-media-aspect-ratio);
}
.tmg-host-container.tmg-media-floating-player .tmg-host {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: 100dvh;
  min-height: unset;
  min-width: unset;
}
.tmg-media-container:not(:has(.tmg-media-vb-slider:active, .tmg-media-touch-vb-notifier.tmg-media-control-active)) :is(.tmg-media, .tmg-media-filtered) {
  transition: filter var(--tmg-media-settings-view-transition-time) ease;
}

/* FOREIGN HOST STYLES */
.tmg-host-div,
.tmg-host-content {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.tmg-host-content {
  background: black;
}
:is(.tmg-host-content, .tmg-media-object) {
  position: absolute;
  top: var(--tmg-media-current-object-top);
  left: var(--tmg-media-current-object-left);
  width: var(--tmg-media-current-object-width);
  height: var(--tmg-media-current-object-height);
}
.tmg-foreign-host {
  width: 100%;
  height: 100%;
}
.tmg-foreign-host[data-hide-ui] {
  height: 1000%;
}
