.tmg-media-notifiers-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
.tmg-media-notifier {
  position: absolute;
  width: var(--tmg-media-big-controls-size);
  height: var(--tmg-media-big-controls-size);
  scale: var(--tmg-media-current-big-controls-scale);
  display: flex;
  white-space: nowrap;
  opacity: 0;
  animation-duration: var(--tmg-media-notifiers-animation-time);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.tmg-media-text-notifier {
  width: fit-content;
  height: fit-content;
  min-height: calc(var(--tmg-media-current-unit) * 0.8);
  padding: calc(var(--tmg-media-current-unit) / 7.5) calc(var(--tmg-media-current-unit) / 2.5);
  font-weight: 700;
  border-radius: var(--tmg-media-current-unit);
}
.tmg-media-top-text-notifier {
  top: min(var(--tmg-media-current-unit), 5%);
  min-width: calc(var(--tmg-media-current-unit) * 1.3);
}
.tmg-media-notifier-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 10%;
  padding: calc(var(--tmg-media-current-unit) / 4) calc(var(--tmg-media-current-unit) / 2);
  border-radius: calc(var(--tmg-media-current-unit) / 10);
  white-space: pre;
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-text-notifier {
  min-height: calc(var(--tmg-media-current-unit) * 1.25);
}
[data-notify="mediaplay"] .tmg-media-play-notifier,
[data-notify="mediapause"] .tmg-media-pause-notifier,
[data-notify="mediaprev"] .tmg-media-prev-notifier,
[data-notify="medianext"] .tmg-media-next-notifier,
[data-notify="playbackrateup"] .tmg-media-playback-rate-up-notifier,
[data-notify="playbackratedown"] .tmg-media-playback-rate-down-notifier,
[data-notify="volumeup"] .tmg-media-volume-up-notifier,
[data-notify="volumedown"] .tmg-media-volume-down-notifier,
[data-notify="volumemuted"] .tmg-media-volume-muted-notifier,
[data-notify="brightnessup"] .tmg-media-brightness-up-notifier,
[data-notify="brightnessdown"] .tmg-media-brightness-down-notifier,
[data-notify="brightnessdark"] .tmg-media-brightness-dark-notifier,
[data-notify="objectfitcontain"] .tmg-media-object-fit-contain-notifier,
[data-notify="objectfitcover"] .tmg-media-object-fit-cover-notifier,
[data-notify="objectfitfill"] .tmg-media-object-fit-fill-notifier,
[data-notify="capture"] .tmg-media-capture-notifier,
[data-notify="captions"] .tmg-media-captions-notifier,
[data-notify="theater"] .tmg-media-theater-notifier,
[data-notify="fullscreen"] .tmg-media-fullscreen-notifier,
[data-notify="cast"] .tmg-media-cast-notifier,
[data-notify="airplay"] .tmg-media-airplay-notifier,
[data-notify="timer"] .tmg-media-timer-notifier {
  animation-name: tmg-show, tmg-scale-up;
}
:is([data-notify="playbackrateup"], [data-notify="playbackratedown"]) .tmg-media-playback-rate-notifier-content,
:is([data-notify="volumeup"], [data-notify="volumedown"]) .tmg-media-volume-notifier-content,
:is([data-notify="brightnessup"], [data-notify="brightnessdown"]) .tmg-media-brightness-notifier-content,
[data-notify^="objectfit"] .tmg-media-object-fit-notifier-content {
  animation-name: tmg-show-alt;
}
[data-notify="fwd"] .tmg-media-fwd-notifier,
[data-notify="bwd"] .tmg-media-bwd-notifier,
[data-notify="chapter"] .tmg-media-chapter-notifier,
.tmg-media-notifier.tmg-media-control-persist {
  animation-name: tmg-stay-shown;
}
.tmg-media-notifiers-container :is(.tmg-media-text-notifier, .tmg-media-touch-vb-notifier).tmg-media-control-active {
  opacity: 1;
}
.tmg-media-notifier svg {
  animation: inherit;
  opacity: 1;
}
.tmg-media-container:is(.tmg-media-replay, .tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile) :is(.tmg-media-play-notifier, .tmg-media-pause-notifier),
.tmg-media-notifiers-container:has(.tmg-media-cancel-scrub-notifier.tmg-media-control-active) .tmg-media-scrub-notifier {
  display: none;
}
.tmg-media-fast-play-notifier:not(.tmg-media-rewind)::before,
.tmg-media-fast-play-notifier.tmg-media-rewind::after {
  content: attr(data-current-time);
  display: none;
  font-weight: normal;
}
.tmg-media-fast-play-notifier:not(.tmg-media-rewind)::before {
  display: block;
  margin-inline-end: calc(var(--tmg-media-current-unit) / 3.5);
}
.tmg-media-fast-play-notifier.tmg-media-rewind::after {
  display: block;
  margin-inline-start: calc(var(--tmg-media-current-unit) / 3.5);
}
.tmg-media-fast-play-notifier svg {
  display: none;
  height: calc(var(--tmg-media-current-unit) / 3.25);
}
.tmg-media-fast-play-notifier.tmg-media-rewind svg:nth-of-type(1) {
  display: block;
  margin-inline-end: calc(var(--tmg-media-current-unit) / 5);
}
.tmg-media-fast-play-notifier:not(.tmg-media-rewind) svg:nth-of-type(2) {
  display: block;
  margin-inline-start: calc(var(--tmg-media-current-unit) / 5);
}
.tmg-media-scrub-notifier {
  max-width: 95%;
  gap: calc(var(--tmg-media-current-unit) / 2.75);
  padding-block: calc(var(--tmg-media-current-unit) / 6);
  white-space: normal;
  line-height: 1.3;
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) .tmg-media-scrub-notifier {
  padding-block: calc(var(--tmg-media-current-unit) / 4.5);
}
.tmg-media-scrub-notifier span {
  height: calc(var(--tmg-media-current-unit) / 2.5);
  display: flex;
  align-items: center;
}
:is(.tmg-media-fast-play-notifier, .tmg-media-scrub-notifier) svg {
  width: calc(var(--tmg-media-current-unit) / 3.25);
  scale: 1.75;
}
.tmg-host-container:is([data-size-tier^="xx"], .tmg-media-mobile) :is(.tmg-media-fast-play-notifier, .tmg-media-scrub-notifier) svg {
  width: calc(var(--tmg-media-current-unit) / 2.25);
}
.tmg-media-touch-vb-notifier {
  background-color: transparent;
  height: min(var(--tmg-media-max-touch-slider-height), var(--tmg-media-current-touch-slider-height));
  width: calc(var(--tmg-media-current-unit) / 2.75);
  flex-direction: column;
  gap: calc(var(--tmg-media-current-unit) / 2.5);
}
.tmg-media-touch-vb-notifier:not(.tmg-media-control-active) {
  transition: opacity var(--tmg-media-fade-transition-time) ease;
}
.tmg-media-touch-volume-notifier {
  left: 15%;
}
.tmg-media-touch-brightness-notifier {
  right: 15%;
}
.tmg-media-touch-vb-slider {
  --tmg-media-current-slider-gradient-dir: to top;
  flex-grow: 1;
  width: 100%;
  border-radius: calc(var(--tmg-media-current-unit) / 5.5);
}
.tmg-media-fwd-notifier,
.tmg-media-bwd-notifier {
  align-items: start;
  transform: scale(var(--tmg-media-large-scale));
}
.tmg-media-fwd-notifier {
  right: 15%;
}
.tmg-media-bwd-notifier {
  left: 15%;
}
:is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier)::after {
  content: attr(data-skip) " seconds";
  position: absolute;
  bottom: 20%;
}
:is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier):is([data-skip="1"], [data-skip="-1"], [data-skip="0"], [data-skip="1"], [data-skip="-1"])::after {
  content: attr(data-skip) " second";
}
.tmg-host-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile, [data-size-tier^="xx"]) :is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier)::after {
  content: attr(data-skip);
  width: calc(var(--tmg-media-current-unit) * 1.25);
  text-align: center;
}
:is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier) svg {
  width: calc(var(--tmg-media-current-unit) / 2.25);
  margin-block-start: 20%;
}
:is(.tmg-media-fwd-notifier, .tmg-media-bwd-notifier, .tmg-media-scrub-notifier) svg {
  opacity: 0.25;
  animation-iteration-count: infinite;
  animation-duration: var(--tmg-media-notifiers-animation-time);
}
.tmg-media-scrub-notifier svg {
  animation-duration: calc(var(--tmg-media-notifiers-animation-time) / 1.5);
}
.tmg-media-notifier.tmg-media-control-persist {
  background-color: var(--tmg-media-dbc-backdrop-color);
  width: var(--tmg-media-dbc-backdrop-width);
  height: var(--tmg-media-dbc-backdrop-height);
  padding-inline: 10%;
  display: flex;
  align-items: center;
}
.tmg-media-notifiers-container .tmg-media-fwd-notifier.tmg-media-control-persist {
  right: -50%;
  justify-content: start;
}
.tmg-media-notifiers-container .tmg-media-bwd-notifier.tmg-media-control-persist {
  left: -50%;
  justify-content: end;
}
.tmg-media-notifier.tmg-media-control-persist svg {
  scale: 1.25;
  margin-block-start: unset;
  margin-block-end: calc((var(--tmg-media-current-unit) / 2.25) + (var(--tmg-media-current-unit) / 4));
}
.tmg-media-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile, [data-size-tier^="xx"]) .tmg-media-notifier.tmg-media-control-persist svg {
  scale: 1.5;
}
.tmg-host-container:is(.tmg-media-miniplayer, .tmg-media-floating-player, .tmg-media-mobile, [data-size-tier^="xx"]) .tmg-media-notifier.tmg-media-control-persist {
  padding-inline: 13%;
}
.tmg-media-notifier.tmg-media-control-persist::after {
  margin-block-start: calc((var(--tmg-media-current-unit) / 2.25) + (var(--tmg-media-current-unit) / 4));
  bottom: unset;
}
:is(.tmg-media-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-media-fwd-notifier, .tmg-media-notifiers-container .tmg-media-fwd-notifier.tmg-media-control-persist) svg:nth-of-type(1),
:is(.tmg-media-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-media-bwd-notifier, .tmg-media-notifiers-container .tmg-media-bwd-notifier.tmg-media-control-persist) svg:nth-of-type(3) {
  animation-name: tmg-arrow-1;
}
:is(.tmg-media-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-media-fwd-notifier, .tmg-media-notifiers-container .tmg-media-fwd-notifier.tmg-media-control-persist) svg:nth-of-type(2),
:is(.tmg-media-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-media-bwd-notifier, .tmg-media-notifiers-container .tmg-media-bwd-notifier.tmg-media-control-persist) svg:nth-of-type(2) {
  animation-name: tmg-arrow-2;
}
:is(.tmg-media-scrub-notifier span:last-child, [data-notify="fwd"] .tmg-media-fwd-notifier, .tmg-media-notifiers-container .tmg-media-fwd-notifier.tmg-media-control-persist) svg:nth-of-type(3),
:is(.tmg-media-scrub-notifier span:first-child, [data-notify="bwd"] .tmg-media-bwd-notifier, .tmg-media-notifiers-container .tmg-media-bwd-notifier.tmg-media-control-persist) svg:nth-of-type(1) {
  animation-name: tmg-arrow-3;
}
